* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
  color: #fff;
  border: solid #ffef10 1px;
  border-radius: 20px;
  box-shadow: 0 0 45px rgba(12, 12, 12, 0.5);
}

#cityInput {
  font-size: 1rem;
  color: #919090;
  font-weight: 700;
  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 40px;
  margin: 10px 0 10px 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #919090;
  margin: 20px 0 10px 0;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 1;
  transform: scale(0.98);
  background-color: rgb(0, 0, 0);
  color: #fff;
}

#weatherResult h2 {
  margin: 30px 0 0 0;
  font-size: 25px;
}

#weatherResult p {
  font-size: 20px;
}

.icon {
  width: 100px;
  margin: -20px 0 -70px 0;
}
